{% extends 'frontEndBundle:Base:blankPlage.html.twig' %}

{% block contentPage %}
    <div class="col-lg-6 col-lg-offset-3">
        <form action="{{ url('medecinRepertory') }}" method="POST" class="form-horizontal">
            <input type="text" name="name" id="inputName" class="form-control c-square c-theme input-lg"
                   placeholder="Rechercher un médecin">
            <input type="submit" class="btn c-theme-btn c-btn-square c-btn-uppercase c-btn-bold btn-block"
                   value="Envoyer">
        </form>
    </div>
{% endblock %}