{% trans_default_domain 'FOSUserBundle' %}



{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <input type="submit" class="form-control" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
{{ form_end(form) }}
