{% extends 'frontEndBundle:Base:blankPlage.html.twig' %}

{% block contentPage %}
    <div class="col-lg-10">
        <h2 class="col-lg-offset-3">Présentation generale de l'etablissement</h2>
        <div class="col-lg-4"></div>
        <div class="col-lg-8">
            <p>
                Etablissement de référence sur le territoire de santé « Los Santos », l’hôpital “Los
                Santos
                department of human services” aussi appelé “los Santos general”, a su conserver son
                caractère familial tout en développant les techniques médicales les plus avancées et
                améliorant, par des programmes réguliers de rénovation, les conditions d’accueil et de
                séjours.
            </p>
            <br>
            <p>
                Nos praticiens libéraux regroupant de nombreuses spécialités y exercent grâce à une
                infrastructure technique de haut niveau. De plus, des équipes médicales
                pluridisciplinaires
                assurent, 24H/24, une prise en charge sécuritaire des patients hospitalisés ou
                accueillis en
                urgence.
                <br>Nos professionnels de santé sont présents au quotidien auprès des patients.
            </p>
            <br>
            <p>
                L’établissement, organisé en différents pôles d’activités, offre un parcours de soins
                complet
                qui se décline au travers d’une prise en charge à visée à la fois diagnostique,
                thérapeutique et de réadaptation.
            </p>
        </div>
        <h1 class="text-center">Les meilleurs medecins pour les meilleurs soins</h1>
    </div>
{% endblock %}