{% extends 'frontEndBundle:Base:blankPlage.html.twig' %}

{% block contentPage %}
    <div class="col-lg-12">
        <h1 class="text-center">Plan d'assurance acceptés</h1>
        <div class="col-lg-12" style="padding: 30px 0;">
            <img src="{{ asset('images/departement/assurances.png') }}" alt="Assurances" class="img-responsive">
        </div>
        <p class="col-lg-6 col-lg-offset-3">Vous n'etes couvert par aucun de ces plans ? Contactez-nous et nous trouverons la solution qui vous convient le mieux</p>
    </div>
{% endblock %}