{% extends 'frontEndBundle:Base:blankPlage.html.twig' %}

{% block contentPage %}
    <div class="col-lg-12 text-justify">
        <h1 class="text-center">Le respect des règles de sécurité dans l’établissement</h1>
        <br>
        <h2 class="text-center">Sécuritée incendie</h2>
        <p>En cas d’incendie, veuillez respecter les plans d’évacuation et les consignes affichées dans chaque étage et
            dans les parties communes.
            En toute situation, nous vous prions de bien vouloir conserver votre calme et suivre les instructions des
            personnels formés à ce type d’incident.</p>
        <br>
        <h2 class="text-center">Interdiction de fumer</h2>
        <p>Conformément au décret n°2006-1386 du 15 novembre 2006 il est strictement interdit de fumer dans l’enceinte
            de l’établissement ainsi que dans les chambres.</p>
        <br>
        <h2 class="text-center">Sécuritée des biens et des personnes</h2>
        <p>Dans le cadre de la sécurité des biens et des personnes l’établissement est équipé d’un système de
            vidéosurveillance.</p>
        <br><br>
        <h1 class="text-center">Le respect des règles de vie</h1>
        <br>
        <h2 class="text-center">Silence</h2>
        <p>Pour préserver le respect et la tranquillité de tous le plus grand silence est recommandé dans les chambres
            et dans les couloirs.</p>
        <br>
        <h2 class="text-center">Hygiène</h2>
        <p>Tout au long de votre séjour nous vous invitons, ainsi que votre entourage, à respecter les règles d’hygiène
            et en particulier à utiliser les produits hydro alcooliques mis à disposition.
            <br>
            Les plantes ou les fleurs coupées ne sont pas autorisées dans les chambres.</p>
        <br>
        <h2 class="text-center">Locaux et matériels</h2>
        <p>Nous vous demandons de prendre soin des locaux ainsi que des mobiliers et matériels mis à votre disposition.
            <br>
            Toute dégradation sera à la charge de son auteur.</p>
        <br><br>
        <h1 class="text-center">Les droits des patients</h1>
        <p class="text-success">Pour plus d'information sur vos droits, vous pouvez consulter le guide "Usagers, votre
            santé, vos droits" publié par le Ministère des affaires sociales et de la santé.
        </p>
        <br>
        <h2 class="text-center">Anonymat - Confidentialité</h2>
        <p>Si vous souhaitez que votre présence ne soit pas divulguée, signalez-le à l’accueil. Le nécessaire sera fait
            pour préserver votre anonymat. Sachez que l'ensemble du personnel est soumis au devoir de discrétion, de
            réserve et au secret professionnel sur toutes les informations dont il a connaissance dans le cadre de son
            travail.</p>
        <br>
        <h2 class="text-center">Personne de confiance (art. L 1111-6 du Code de la Santé Publique)</h2>
        <p>Lors de votre admission il vous sera proposé de désigner une personne de confiance. <br>
            Cette personne peut être un parent, un proche ou votre médecin traitant, et elle sera consultée dans le cas
            où vous seriez hors d’état d’exprimer votre volonté et de recevoir l’information nécessaire à cette fin.
            Elle peut vous accompagner dans vos démarches et assister aux entretiens médicaux afin de vous aider dans
            vos décisions.
            <br>
            Cette désignation est révocable à tout moment. <br>
            Si vous souhaitez en savoir plus sur la personne de confiance, rapprochez-vous du personnel soignant qui
            mettra à votre disposition un livret d’information.</p>
        <br>
        <h2 class="text-center">Personne à prévenir</h2>
        <p>Lors de votre admission il vous sera demandé de désigner une personne à prévenir en cas de situation le
            nécessitant (formalités, transport, accompagnement etc…).
            <br>
            Le personne à prévenir peut être ou non différente de la personne de confiance.</p>
        <br>
        <h2 class="text-center">Informations concernant votre état de santé et consentement aux soins</h2>
        <p>Vous avez le droit d’être informé(e) sur votre état de santé à chaque étape de votre prise en charge. Vous
            prendrez les décisions concernant votre santé avec votre médecin, en fonction des informations qu’il vous
            aura fournies lors d’un entretien individuel.
            <br>
            Elles portent sur les différentes investigations, les traitements ou actions de prévention, leur utilité,
            leur urgence éventuelle, leurs conséquences, les risques fréquents ou graves normalement prévisibles qu'ils
            comportent.
            <br>
            Votre consentement aux thérapeutiques qui vous sont proposées est requis. Vous pouvez à tout moment le
            retirer ou revenir sur une éventuelle décision de refus de soins.</p>
        <br>
        <h2 class="text-center">Droits des mineurs et des majeurs sous tutelle</h2>
        <p>Le consentement du mineur ou du majeur sous tutelle doit être systématiquement recherché s'il est apte à
            exprimer sa volonté et à participer à la décision. L’information qui est délivrée doit être claire et
            loyale, adaptée au degré de maturité et aux facultés de discernement des personnes.
            <br>
            Dans le cas où le refus d'un traitement par la personne titulaire de l'autorité parentale ou par le tuteur
            risque d'entraîner des conséquences graves pour la santé du mineur ou du majeur sous tutelle, le médecin
            délivre les soins indispensables.</p>
        <br>
        <h2 class="text-center">La culture de la bientraitance</h2>
        <p>
            La promotion de la bientraitance est l’une des valeurs fondamentales de l’établissement. <br>
            Aussi dans le cadre de votre prise en charge nous nous engageons à :
        <ul>
            <li>prodiguer des soins de qualité dans le respect de la dignité de la personne,</li>
            <li>respecter la pudeur et l’intimité des patients,</li>
            <li>respecter les règles de confidentialité,</li>
            <li>prendre en compte l’autonomie des patients,</li>
            <li>être à l’écoute et faire preuve d’empathie,</li>
            <li>améliorer la communication avec les patients par une qualité d’échange et de compréhension,</li>
            <li>adopter un langage approprié par l’absence de tutoiement ou l’emploi de familiarités,</li>
            <li>améliorer la prise en charge de la douleur.</li>
        </ul>
        </p>
        <br>
        <h2 class="text-center">Droit et modalités d’accès au dossier médical (art. L 1111-7 et R 1111-2 à 9 du Code de
            la Santé Publique)</h2>
        <p>Vous avez la possibilité d’accéder aux informations contenues dans votre dossier médical. <br>
            Pour ce faire vous devez adresser une demande écrite à la direction de l’établissement, en y joignant une
            pièce d’identité.
            <br>
            Vous pouvez en prendre connaissance directement ou par l'intermédiaire du médecin que vous aurez librement
            désigné.
            <br>
            Elles peuvent vous être communiquées directement et dans ce cas les frais de reproduction et d’expédition
            sont à votre charge ; vous pouvez également les consulter sur place, gratuitement, avec ou sans
            accompagnement d’un médecin, selon votre choix.
            <br>
            Les informations contenues dans votre dossier médical ne peuvent être mises à votre disposition avant un
            délai minimum de 48 heures après votre demande, et au plus tard dans les huit jours. Si les informations
            datent de plus de cinq ans, ce délai est porté à deux mois.
            <br>
            En cas de décès, vos ayant droits peuvent également solliciter, sous certaines conditions, la communication
            du dossier médical vous concernant, sous réserve de justifier de leur qualité.
            <br>
            Concernant les mineurs, l’exercice du droit d’accéder aux informations médicales les concernant est réservé
            aux titulaires de l’autorité parentale, sauf dans le cas où le mineur a refusé que ses parents soient
            informés. L’enfant mineur dispose alors d’un véritable droit au secret et d’un droit d’accès réservé à lui
            seul.
            <br>
            Le mineur peut également demander que l’accès du titulaire de l’autorité parentale aux informations le
            concernant ait lieu par l’intermédiaire d’un médecin.</p>
        <br>
        <h2 class="text-center">Informatique et libertés</h2>
        <p>L’établissement utilise des moyens informatiques destinés à gérer plus facilement les données vous concernant
            dans le strict respect du secret professionnel.
            <br>
            Ainsi, nous nous engageons à respecter, sous le contrôle de la Commission Nationale de l'informatique et des
            Libertés, une totale confidentialité à propos des informations nominatives que vous nous avez communiquées.
            <br>
            Ce principe s'applique en particulier :
        <ul>
            <li>au traitement informatisé des données administratives,</li>
            <li>aux informations contenues dans votre dossier médical qu'elles soient écrites ou traitées de façon
                informatisée.
            </li>
        </ul>
        Les données vous concernant font l’objet d’un traitement automatisé dans les conditions fixées par la Loi
        n°78-17 du 6 janvier 1978 modifiée relative à l’informatique, aux fichiers et aux libertés.
        <br>
        Ces données sont transmises au médecin responsable de l’information médicale au sein de l’établissement et sont
        protégées par le secret médical.
        <br>
        Vous pouvez vous opposer, pour des raisons légitimes, au recueil et au traitement des données vous concernant.
        <br>
        Vous pouvez également exercer votre droit d’accès et de rectification auprès du médecin responsable de
        l’information médicale directement ou par l’intermédiaire d’un médecin.
        </p>
        <br>
        <h2 class="text-center">Commission des Relations avec les Usagers et de la Qualité de la Prise en Charge
            (C.R.U.)</h2>
        <p>Si vous rencontrez des difficultés durant votre séjour, vous avez la possibilité de formuler vos remarques
            auprès du personnel médical ou du cadre responsable du service dans lequel vous êtes hospitalisé(e).
            <br>
            En cas d’impossibilité ou si les explications reçues ne vous satisfont pas, vous pouvez adresser directement
            une plainte ou une réclamation écrite à la direction de l’établissement.</p>
        <br>
        <h2 class="text-center">Dommages liés aux soins</h2>
        <p>Si vous vous estimez victime d’un dommage grave imputable à une activité de prévention, de diagnostic ou de
            soin, l’hôpital ne peut être en aucun cas en être tenu responsable.
            <br>
            Il en va de même pour les actes discriminatoires envers les patients quelques soit leur ethnie, leur sexe et
            leur religion</p>
    </div>
{% endblock %}