{% extends 'frontEndBundle:Base:blankPlage.html.twig' %}

{% block contentPage %}
    <div class="col-lg-4">

    </div>
    <div class="col-lg-8">
        <h1>Recentrez-vous !</h1>
        <div class="row">
            <div class="col-lg-11 col-lg-offset-1">
                <h2>Notre définition de la Sophrologie</h2>
                <p>La sophrologie est une science* qui étudie la conscience humaine,
                    un ensemble de techniques et de méthodes à médiation corporelle.</p>
                <p>Elle vise, selon moi, la conquête ou le renfort de l'équilibre entre nos émotions, nos cognitions
                    (pensées, connaissances, croyances) et nos comportements.</p>
                <p>Au croisement de la relaxation occidentale et de la méditation orientale adaptées, elle permet à
                    chacun de trouver de nouvelles ressources en lui-même et d'améliorer sa qualité de vie.</p>
                <br>
                <h2>Principes fondamentaux de la Sophrologie</h2>
                <ol>
                    <li>Amener le schéma corporel a plus de réalité vécue, habiter le corps en bonne santé et conquérir l'harmonie physique et psychique ;</li>
                    <li>Renforcer l'action positive, afin de développer les éléments positifs du passé, du présent, de l'avenir  et de mieux utiliser tous nos potentiels ;</li>
                    <li>Développer la réalité objective, pour apprendre à voir les choses davantage comme elles sont, de développer plus de réalisme et d'efficacité dans l'action ;</li>
                    <li>Adapter les techniques et méthodes aux situations et / ou  participants à chaque séance ;</li>
                    <li>Prendre conscience de notre schéma existentiel comme réalité à vivre ;</li>
                </ol>
                <p></p>
            </div>
        </div>
    </div>
{% endblock %}