{% extends 'frontEndBundle:Base:blankPlage.html.twig' %}

{% block contentPage %}
    <div class="col-lg-4">

    </div>
    <div class="col-lg-8">
        <h1>Penchez-vous !</h1>
        <div class="row">
            <div class="col-lg-11 col-lg-offset-1">
                <br>
                <h2>Quand consulter un proctologue ?</h2>
                <p>
                    Outre les hémorroïdes, plusieurs pathologies peuvent entrainer des troubles ou des douleurs au
                    niveau
                    de l’anus et du rectum, notamment :
                <ul>
                    <li>des tumeurs (bénignes ou malignes) de l’anus et du rectum ;</li>
                    <li>une inflammation du rectum (rectite) ;</li>
                    <li>une fissure anale ou autres lésions ano-périnéales ;</li>
                    <li>un prolapsus rectal ;</li>
                    <li>des dermatoses (maladies de la peau et des muqueuses) ;</li>
                    <li>une maladie de Crohn (maladie inflammatoire chronique de l’intestin) ;</li>
                    <li>des infections transmises sexuellement.</li>
                </ul>
                <br>
                Bien que les pathologies ano-rectales puissent toucher tout le monde, il existe certains facteurs de risque reconnus, entre autres :
                <ul>
                    <li>la grossesse et l’accouchement ;</li>
                    <li>la constipation chronique ;</li>
                    <li>les maladies ano-rectales sexuellement transmises.</li>
                </ul>
                </p>
                <br>
                <h2>Que fait le proctologue ?</h2>
                <p>
                    Pour parvenir à un diagnostic et identifier l’origine des troubles, le proctologue :
                <ul>
                    <li>interroge son patient ;</li>
                    <li>pratique un examen anorectal (toucher rectal, anuscopie, rectoscopie) ;</li>
                    <li>peut avoir recours à des examens : endoscopie, biopsie, Hémoccult pour déceler un cancer
                        colorectal…).
                    </li>
                </ul>
                <br>
                En fonction du problème et du traitement à apporter, le proctologue peut avoir recours à divers examens
                complémentaires, tels que :
                <ul>
                    <li>l’examen visuel avec un anuscope ou rectoscope ;</li>
                    <li>le toucher et la palpation ;</li>
                    <li>les explorations fonctionnelles rectales (manométrie anorectale, électromyographie,
                        défécographie…) ;
                    </li>
                    <li>les examens d’imagerie (scanner, échoendoscopie, coloscopie…) ;</li>
                    <li>les prélèvements sanguins ou locaux (notamment pour diagnostiquer une infection sexuellement
                        transmise);
                    </li>
                </ul>
                </p>
            </div>
        </div>
    </div>
{% endblock %}