{% extends 'frontEndBundle:Base:blankPlage.html.twig' %}

{% block contentPage %}
    <div class="col-lg-4">
        <img src="{{ asset('images/departement/psy.jpg') }}" alt="Psychologue" class="img-responsive img-thumbnail">
    </div>
    <div class="col-lg-8">
        <h1>A votre écoute</h1>
        <div class="row">
            <div class="col-lg-11 col-lg-offset-1">
                <p>Dans un sens plus général, la psychologie est la connaissance empirique ou intuitive des sentiments,
                    des idées, des comportements d'une personne et des manières de penser, de sentir, d'agir qui
                    caractérisent un individu ou un groupe.</p>
            </div>
        </div>
    </div>
{% endblock %}