{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn c-theme-btn c-btn-uppercase btn-lg c-btn-bold c-btn-square" />
    </div>
{{ form_end(form) }}
