{% extends 'frontEndBundle:Base:blankPlage.html.twig' %}

{% block contentPage %}
<h1>Merci {{ name }} de nous avoir contacté</h1>
    <p>Vous serez recontacté rapidement par un membre de l'EMS</p>
{% endblock %}